html {
    
    font-size: 16px;
}


body {
    background: #aff;
    padding: 3em; 
    text-align: center;
}



input, button {
    margin-bottom: 2 em;
}

#output {
    margin:2em 0;
    padding:1em;
}

